node_modules
.next
.env*.local
.env
*.log
.vercel
tsconfig.tsbuildinfo

.vercel

# Playwright
/playwright/.auth/
/playwright/.cache/
/playwright-report/
/test-results/
/blob-report/
/e2e-results.json
